@charset "utf-8";
/* Untrustworthy CSS Document*/

code-green {
    color: rgb(138, 226, 52)
}

red {
    color: red
}
cyan {
    color: cyan;
}


white {
    color: white
}

grey {
    color: rgb(121, 121, 121);
}